#**NOTE:** I have used google colob to work on this project

# spam detection with natural language processing

In [26]:
import numpy as np   
import pandas as pd 
import nltk
nltk.download('wordnet')
nltk.download('stopwords')

import chardet
from google.colab import files
uploaded = files.upload()
with open("SPAM.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
print(result)

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

Saving SPAM.csv to SPAM (1).csv
{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}

# 1) LOADING DATA SET

In [27]:


dt = pd.read_csv('SPAM.csv' , encoding = 'Windows-1252')  
dt.head(10)

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [28]:
dt = pd.DataFrame(dt)
dt.rename(columns={"v1": 'type', "v2": 'text'}, inplace = True)
dt.head(10)

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [30]:
dt['spam'] = dt['type'].map( {'spam': 1, 'ham': 0} ).astype(int)
dt.head(5)

   type                                               text  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0

In [31]:
print("COLUMS IN THE GIVEN DATA:")
for col in dt.columns: 
    print(col)

COLUMS IN THE GIVEN DATA:
type
text
spam

In [32]:
t=len(dt['type'])
print("NO OF ROWS IN REVIEW COLUMN:",t)
t=len(dt['text'])
print("NO OF ROWS IN liked COLUMN:",t)

NO OF ROWS IN REVIEW COLUMN: 116
NO OF ROWS IN liked COLUMN: 116

# 2)Tokenization

In [33]:
dt['text'][1]#before

'Ok lar... Joking wif u oni...'

In [34]:
def tokenizer(text):
    return text.split()

In [35]:
dt['text']=dt['text'].apply(tokenizer)

In [36]:
dt['text'][1]#after

['Ok', 'lar...', 'Joking', 'wif', 'u', 'oni...']

# 3) STEMMING

In [37]:
dt['text'][1]#before

['Ok', 'lar...', 'Joking', 'wif', 'u', 'oni...']

In [38]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english", ignore_stopwords=False)

In [39]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [40]:
dt['text']=dt['text'].apply(stem_it)

In [41]:
dt['text'][1] #after stemming

['ok', 'lar...', 'joke', 'wif', 'u', 'oni...']

# 4) LEMMITIZATION

In [42]:
dt['text'][100] #before

['pleas',
 "don't",
 'text',
 'me',
 'anymore.',
 'i',
 'have',
 'noth',
 'els',
 'to',
 'say.']

In [46]:
from nltk.stem import WordNetLemmatizer 
lemmatizer = WordNetLemmatizer()

In [47]:
def lemmit_it(text):
    return [lemmatizer.lemmatize(word, pos ="a") for word in text]

In [48]:
dt['text']=dt['text'].apply(lemmit_it)

In [49]:
dt['text'][100] #before

['pleas',
 "don't",
 'text',
 'me',
 'anymore.',
 'i',
 'have',
 'noth',
 'els',
 'to',
 'say.']

# 5)STOPWORD REMOVAL

In [50]:
dt['text'][100] #before

['pleas',
 "don't",
 'text',
 'me',
 'anymore.',
 'i',
 'have',
 'noth',
 'els',
 'to',
 'say.']

In [51]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

In [52]:
def stop_it(text):
    review = [word for word in text if not word in stop_words ] 
    return review

In [53]:
dt['text']=dt['text'].apply(stop_it)

In [54]:
dt['text'][100] #after

['pleas', 'text', 'anymore.', 'noth', 'els', 'say.']

In [55]:
dt.head(100)

    type                                               text  spam
0    ham  [go, jurong, point,, crazy.., avail, onli, bug...     0
1    ham                 [ok, lar..., joke, wif, u, oni...]     0
2   spam  [free, entri, 2, wkli, comp, win, fa, cup, fin...     1
3    ham  [u, dun, say, earli, hor..., u, c, alreadi, sa...     0
4    ham      [nah, think, goe, usf,, live, around, though]     0
..   ...                                                ...   ...
95  spam  [free, rington, wait, collected., simpli, text...     1
96   ham               [watch, telugu, movie..wat, abt, u?]     0
97   ham                    [see., finish, load, loan, pay]     0
98   ham  [hi., wk, ok, -, hol, now!, yes, bit, run., fo...     0
99   ham                            [see, cup, coffe, anim]     0

[100 rows x 3 columns]

In [56]:
dt['text']=dt['text'].apply(' '.join)

In [57]:
dt.head()

   type                                               text  spam
0   ham  go jurong point, crazy.. avail onli bugi n gre...     0
1   ham                        ok lar... joke wif u oni...     0
2  spam  free entri 2 wkli comp win fa cup final tkts 2...     1
3   ham          u dun say earli hor... u c alreadi say...     0
4   ham              nah think goe usf, live around though     0

#  6) Transform Text Data into TDF /TF-IDF Vectors

In [58]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
y=dt.spam.values
x=tfidf.fit_transform(dt['text'])

In [59]:
from sklearn.model_selection import train_test_split
x_train,x_text,y_train,y_text=train_test_split(x,y,random_state=1,test_size=0.2,shuffle=False)

#  7) Classification using Logistic Regression

In [60]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(x_train,y_train)
y_pred=clf.predict(x_text)
from sklearn.metrics import accuracy_score
acc_log = accuracy_score(y_pred, y_text)*100
print("accuracy:",acc_log )

accuracy: 87.5

#   8) Classification using LinearSVC Accuracy

In [61]:
from sklearn.svm import LinearSVC

linear_svc = LinearSVC(random_state=0)
linear_svc.fit(x_train, y_train)
y_pred = linear_svc.predict(x_text)
acc_linear_svc =accuracy_score(y_pred, y_text) * 100
print("accuracy:",acc_linear_svc)

accuracy: 87.5

###                        ----------XXXX---------